.d-none{
    display: none !important;
}
.position-unset{
    position: unset !important;
}



body{
    &.indexPage{
        // 첫페이지만
        #container{
            #contents{
                @media (min-width:1080px) {
                    margin-top: 0 !important;                    
                }
                
            }
        }
        #header{
            position: fixed;
            background-color: transparent !important;
        }
    }
}