.d-none{
    display: none !important;
}
.position-unset{
    position: unset !important;
}



body{
    &.indexPage{
        // 첫페이지만
        #container{
            #contents{
                @media (min-width:1080px) {
                    margin-top: 0 !important;                    
                }
                
            }
        }
        #header{
            position: fixed;
            background-color: transparent !important;
        }
    }
    .top_logo{
        svg{
            width: clamp(120px, 10vw, 150px);
        }
    }
}

#searchBarForm {
  .xans-layout-searchheader {
    background-color: transparent !important;

    
      .top_search_box {
        border-bottom: 1px solid #ffffff;

        #keyword {
          background: transparent;
          color: white;
        }
      }

      .icon.icoClose {
        &::before,
        &::after {
          background: white;
        }
      }

      .top_search_title {
        color: white;
      }

      .btnSearch {
        svg {
          path {
            stroke: white;
          }
        }
      }
    
  }
}

.top_mypage {
  a {
    .eNavFold {
      .icon.icoNav {
        color: white;
      }
    }
  }
}

.layer_shadow.on {
  background-color: rgba(0, 0, 0, 0.6) !important;
}